accelerate==1.7.0
aiofiles==22.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.4
aiosignal==1.3.2
aiosqlite==0.21.0
alabaster==0.7.16
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
av==14.4.0
babel==2.16.0
beautifulsoup4==4.13.4
bidict==0.23.1
bitsandbytes==0.46.0
black==25.1.0
bleach==6.2.0
blinker==1.5
certifi==2024.8.30
cffi==1.17.1
chardet==5.1.0
charset-normalizer==3.4.0
click==8.2.1
comm==0.2.2
configparser==7.2.0
crcmod==1.7
cryptography==45.0.3
Cython==3.1.1
datasets==3.6.0
dbus-python==1.3.2
debugpy==1.8.14
decorator==5.2.1
deepspeed==0.15.4
defusedxml==0.7.1
Deprecated==1.2.18
devscripts==2.23.4+deb12u1
dill==0.3.8
distlib==0.3.9
distro==1.8.0
distro-info==1.5+deb12u1
dnspython==2.7.0
docker-pycreds==0.4.0
docutils==0.19
einops==0.8.1
entrypoints==0.4
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.16.1
flake8==7.2.0
flash_attn==2.7.4.post1
fqdn==1.5.1
frozenlist==1.6.0
fsspec==2024.10.0
gitdb==4.0.12
GitPython==3.1.44
gpg==1.18.0
grpcio==1.71.0
h11==0.16.0
hf-xet==1.1.2
hf_transfer==0.1.9
hjson==3.1.0
httpcore==1.0.9
httplib2==0.20.4
httpx==0.28.1
huggingface-hub==0.32.2
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
inquirerpy==0.3.4
iotop==0.6
ipaddress==1.0.23
ipykernel==6.29.5
ipython==9.2.0
ipython-genutils==0.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
iso8601==1.0.0
isoduration==20.11.0
isort==6.0.1
jedi==0.19.2
Jinja2==3.1.4
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-client==7.0.0
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter-ydoc==0.2.5
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_fileid==0.9.3
jupyter_server_terminals==0.5.3
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
latex2sympy2_extended==1.10.1
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
liger_kernel==0.5.2
MarkupSafe==3.0.2
math-verify==0.7.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mistune==3.1.3
mpmath==1.3.0
msgpack==1.0.8
multidict==6.4.4
multiprocess==0.70.16
mypy_extensions==1.1.0
nbclassic==1.3.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
none==0.1.1
notebook==6.5.7
notebook_shim==0.2.4
numpy==1.26.4
nvidia-ml-py==12.575.51
oauthlib==3.2.2
# Editable install with no version control (open-r1==0.1.0.dev0)
-e ./src/open-r1-multimodal/src
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.1
parameterized==0.9.0
parso==0.8.4
pathlib2==2.3.7.post1
pathspec==0.12.1
pathtools==0.1.2
pexpect==4.8.0
pfzy==0.3.4
pillow==10.2.0
platformdirs==4.3.8
pluggy==1.6.0
ply==3.11
prometheus_client==0.22.0
promise==2.3
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==3.20.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==20.0.0
pycodestyle==2.13.0
pycparser==2.22
pycryptodomex==3.23.0
pydantic==2.11.5
pydantic_core==2.33.2
pyflakes==3.3.2
Pygments==2.18.0
PyGObject==3.42.2
PyJWT==2.6.0
pyOpenSSL==25.1.0
pyparsing==3.0.9
pytest==6.2.5
python-apt==2.6.0
python-consul==1.1.0
python-dateutil==2.9.0.post0
python-debian==0.1.49
python-engineio==4.12.1
python-etcd==0.4.5
python-json-logger==3.3.0
python-magic==0.4.26
python-socketio==5.13.0
pytz==2022.5
pyxdg==0.28
PyYAML==6.0.2
pyzmq==26.4.0
qwen-vl-utils==0.0.11
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rpds-py==0.25.1
safetensors==0.5.3
schedule==1.2.2
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.29.1
setproctitle==1.3.6
shortuuid==1.0.13
simple-websocket==1.1.0
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.7
Sphinx==5.3.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-websupport==2.0.0
stack-data==0.6.3
sympy==1.13.1
tensorboardX==2.6.2.2
terminado==0.18.1
thriftpy2==0.5.2
tinycss2==1.4.0
tokenizers==0.21.1
toml==0.10.2
torch==2.5.1
torchaudio==2.5.1+cu124
torchvision==0.20.1+cu124
tornado==6.5.1
tox==3.28.0
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.3
triton==3.1.0
trl @ git+https://github.com/huggingface/trl.git@897c87fa9170526e9e389be5cfc988dc0ecac864
types-python-dateutil==2.9.0.20250516
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.2
unattended-upgrades==0.1
unidiff==0.7.3
uri-template==1.3.0
urllib3==1.26.20
virtualenv==20.31.2
wadllib==1.3.6
wandb==0.18.3
watchdog==6.0.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.14
wrapt==1.17.2
wsproto==1.2.0
xdg==5
xxhash==3.5.0
y-py==0.6.2
yarl==1.20.0
ypy-websocket==0.8.4peft
